<div
  class="tab-pane fade"
  id="find-tab-pane"
  role="tabpanel"
  aria-labelledby="find-tab"
  tabindex="1"
>
  <form class="p-4" onsubmit="get_car_slot(event)">
    <div class="mb-3">
      <label for="registrationNumber" class="form-label">Vehicle Registration
        Number</label>
      <input
        type="text"
        class="form-control"
        id="registrationNumber"
        aria-describedby="registrationHelp"
        minlength="10"
        maxlength="10"
      />
      <div id="registrationHelp" class="form-text">
        Enter your 10 character Registration Number
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Find Car</button>
  </form>
  <div id="findAlertPlaceholder" class="p-4"></div>
</div>