<div
  class="tab-pane fade"
  id="recent-tab-pane"
  role="tabpanel"
  aria-labelledby="recent-tab"
  tabindex="2"
>
  <h2 class="h2 text-center">Recent Cars</h2>
  <table class="m-auto table table-striped align-middle" id="recent-cars-table">
    <thead>
      <tr>
        <th scope="col">Car Registration Number</th>
        <th scope="col">Slot No.</th>
        <th scope="col">Time of Parking</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>