<div
  class="tab-pane fade {{#if active.find_car}}show active{{/if}}"
  id="find-tab-pane"
  role="tabpanel"
  aria-labelledby="find-tab"
  tabindex="1"
>
  <form class="p-4" onsubmit="unpark_car(event)">
    <div class="mb-3">
      <label for="registrationNumber" class="form-label">Vehicle Registration
        Number</label>
      <input
        type="text"
        class="form-control"
        id="registrationNumber"
        aria-describedby="registrationHelp"
      />
      <div id="registrationHelp" class="form-text">Enter your 10 character
        Registration Number</div>
    </div>
    <button type="submit" class="btn btn-primary">Find Car</button>
  </form>
</div>