<div
  class="tab-pane fade {{#if active.recent_cars}}show active{{/if}}"
  id="recent-tab-pane"
  role="tabpanel"
  aria-labelledby="recent-tab"
  tabindex="2"
>
  <h2 class="h2 text-center">Recent Cars</h2>
  <table class="m-auto table table-striped align-middle">
    <thead>
      <tr>
        <th scope="col">Car Registration Number</th>
        <th scope="col">Slot No.</th>
        <th scope="col">Time of Parking</th>
      </tr>
    </thead>
    <tbody>
      {{#each recent_vehicles as |slot s_no|}}
        <tr>
          <td>{{slot.car.registration_number}}</td>
          <td>{{slot.slot_no}}</td>
          <td>{{slot.timestamp}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>